html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-top: 2rem;
}

table thead {
    background-color: black !important;
    color: white;
    font-size: 1.5rem;
}

table tbody:nth-child(odd){
    background-color: #d6d6d6b0 !important;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    
}